## importing libraries

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, mean_squared_error

## importing Dataset

In [2]:
df=pd.read_csv("car data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
car=df[["Car_Name",'Year','Selling_Price','Present_Price','Driven_kms','Fuel_Type','Selling_type','Transmission','Owner']]
car.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

## Exploring Dataset

In [4]:
car.shape

(301, 9)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [6]:
car.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [7]:
car["Car_Name"].unique()

array(['ritz', 'sx4', 'ciaz', 'wagon r', 'swift', 'vitara brezza',
       's cross', 'alto 800', 'ertiga', 'dzire', 'alto k10', 'ignis',
       '800', 'baleno', 'omni', 'fortuner', 'innova', 'corolla altis',
       'etios cross', 'etios g', 'etios liva', 'corolla', 'etios gd',
       'camry', 'land cruiser', 'Royal Enfield Thunder 500',
       'UM Renegade Mojave', 'KTM RC200', 'Bajaj Dominar 400',
       'Royal Enfield Classic 350', 'KTM RC390', 'Hyosung GT250R',
       'Royal Enfield Thunder 350', 'KTM 390 Duke ',
       'Mahindra Mojo XT300', 'Bajaj Pulsar RS200',
       'Royal Enfield Bullet 350', 'Royal Enfield Classic 500',
       'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Honda CB Hornet 160R',
       'Yamaha FZ S V 2.0', 'Yamaha FZ 16', 'TVS Apache RTR 160',
       'Bajaj Pulsar 150', 'Honda CBR 150', 'Hero Extreme',
       'Bajaj Avenger 220 dtsi', 'Bajaj Avenger 150 street',
       'Yamaha FZ  v 2.0', 'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F',
       'TVS Apache RTR 180', 'Hero Passion X pro', 'Bajaj Pulsar NS 200',
       'Yamaha Fazer ', 'Honda Activa 4G', 'TVS Sport ',
       'Honda Dream Yuga ', 'Bajaj Avenger Street 220',
       'Hero Splender iSmart', 'Activa 3g', 'Hero Passion Pro',
       'Honda CB Trigger', 'Yamaha FZ S ', 'Bajaj Pulsar 135 LS',
       'Activa 4g', 'Honda CB Unicorn', 'Hero Honda CBZ extreme',
       'Honda Karizma', 'Honda Activa 125', 'TVS Jupyter',
       'Hero Honda Passion Pro', 'Hero Splender Plus', 'Honda CB Shine',
       'Bajaj Discover 100', 'Suzuki Access 125', 'TVS Wego',
       'Honda CB twister', 'Hero Glamour', 'Hero Super Splendor',
       'Bajaj Discover 125', 'Hero Hunk', 'Hero  Ignitor Disc',
       'Hero  CBZ Xtreme', 'Bajaj  ct 100', 'i20', 'grand i10', 'i10',
       'eon', 'xcent', 'elantra', 'creta', 'verna', 'city', 'brio',
       'amaze', 'jazz'], dtype=object)

In [8]:
car.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [9]:
car["Owner"].unique()

array([0, 1, 3], dtype=int64)

In [10]:
car["Selling_type"].unique()

array(['Dealer', 'Individual'], dtype=object)

In [11]:
car["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [12]:
car["Current_year"]=2024
car.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Current_year
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2024
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2024
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2024
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2024
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2024

In [13]:
car["Car_age"]=car["Current_year"]-car["Year"]
car.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Current_year,Car_age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2024,10
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2024,11
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2024,7
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2024,13
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2024,10

In [14]:
car.drop(["Year"],axis=1,inplace=True)
car.head()

,Car_Name,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Current_year,Car_age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,2024,10
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,2024,11
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,2024,7
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,2024,13
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,2024,10

In [15]:
car.drop(["Current_year"],axis=1,inplace=True)
car.head()

,Car_Name,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Car_age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,10
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,11
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,7
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,13
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,10

In [16]:
car["Fuel_Type"]=car["Fuel_Type"].map({'Petrol':1,'Diesel':0,'CNG':2})
car["Fuel_Type"].unique()

array([1, 0, 2], dtype=int64)

In [17]:
car["Selling_type"]=car["Selling_type"].map({'Dealer':1,'Individual':0})
car["Selling_type"].unique()

array([1, 0], dtype=int64)

In [18]:
car["Transmission"]=car["Transmission"].map({'Manual':1,'Automatic':0})
car["Transmission"].unique()

array([1, 0], dtype=int64)

In [19]:
car.head()

,Car_Name,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Car_age
0,ritz,3.35,5.59,27000,1,1,1,0,10
1,sx4,4.75,9.54,43000,0,1,1,0,11
2,ciaz,7.25,9.85,6900,1,1,1,0,7
3,wagon r,2.85,4.15,5200,1,1,1,0,13
4,swift,4.60,6.87,42450,0,1,1,0,10

In [25]:
import math
car["Selling_Price"]=[math.floor(value) for value in car["Selling_Price"]]
car["Present_Price"]=[math.floor(value) for value in car["Present_Price"]]

## LogisticRegression Model

In [35]:
X=car.drop({"Selling_Price","Car_Name"},axis=1)
y=car["Selling_Price"]

In [36]:
X_multiclass, X_continuous, y_multiclass, y_continuous = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
# Train a classification model (e.g., Logistic Regression) for the multiclass part
classifier = LogisticRegression()
classifier.fit(X_multiclass, y_multiclass)
predictions_multiclass = classifier.predict(X_multiclass)
accuracy_multiclass = accuracy_score(y_multiclass, predictions_multiclass)

c:\Users\mohammadmaazahmed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [38]:
# Train a regression model (e.g., Linear Regression) for the continuous part
regressor = LinearRegression()
regressor.fit(X_continuous, y_continuous)
predictions_continuous = regressor.predict(X_continuous)
mse_continuous = mean_squared_error(y_continuous, predictions_continuous)

In [39]:

print(f"Multiclass Accuracy: {accuracy_multiclass}")
print(f"Mean Squared Error (Continuous): {mse_continuous}")

Multiclass Accuracy: 0.26666666666666666
Mean Squared Error (Continuous): 2.646840271201074